<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Bree Serif"
    />

    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    <title>My Profile</title>
  </head>
  <body>
    <div id="header">
      <div class="nav-container">
        <div class="linkbox">
          <a href="#activity"><b>Experiences</b></a>
        </div>
        <div class="linkbox">
          <a href="#tentang"><b>About</b></a>
        </div>
        <div class="linkbox">
          <a href="#riwayat"><b>Education</b></a>
        </div>
      </div>
      <div class="img-container">
        <img src="{% static 'images/Azis_2022.jpg' %}" alt="foto_saya" />
      </div>
      <h1>Muhammad Azis Husein</h1>
    </div>

    <div id="activity">
      <h1>Experiences</h1>
      <div class="container">
        <div class="accordion">
          <!-- WORK EXPERIENCE -->

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1"
              >Work Experiences</a
            >

            <div id="accordion-1" class="accordion-section-content">
              <h5>Segari (PT. Sayur Untuk Semua)</h5>
              <h6>Full Stack Engineer | Full Time (Mar 2022 - present)</h6>
              <p>
                My role is to develop Segari's tech at squad customer
                experience. There are some platform that I'm engage in
                development, such as Segari's mobile app, Segar's web app,
                Segari's backend, and Segari's internal tools. Tech stack that
                we use are Java Spring Boot, Flutter, React.Js, PostgreSql,
                Jenkins, etc.
              </p>

              <br />

              <h5>Reviewin (non-profit organization)</h5>
              <h6>Tech Lead | Full Time (Jan 2022 - present)</h6>
              <p>
                My role is to develop Reviewin platform with my teammates. I
                take more responsibility at frontend side and infrastructure
                side. Tech stack that we use are Next.Js, Golang, Docker,
                PostgreSql, Google Cloud Platform, Tailwind, etc.
              </p>

              <br />

              <h5>University of Indonesia</h5>
              <h6>
                Teaching Assistant for Software Project | Part Time (Feb 2022 -
                Jul 2022)
              </h6>
              <p>
                My role is to tutoring students to finish the project from
                client. I have a task to monitoring their progress, held
                biweekly standup, also review their code and performance in
                team.
              </p>

              <br />

              <h5>University of Indonesia</h5>
              <h6>
                Teaching Assistant for Platform Based Programming | Part Time
                (Aug 2021 - Jan 2022)
              </h6>
              <p>
                My role is to help students to undestand the material from our
                lecturer. I have a task to facilitate student discussions and
                giving feedback to them. Also I have to review their code and
                their understanding about what they code.
              </p>

              <br />

              <h5>Suitmedia (PT. Suitmedia Kreasi Indonesia)</h5>
              <h6>Software Engineer | Internship (May 2021 - Feb 2022)</h6>
              <p>
                My role is to develop some project from Suitmedia's clients at
                backend using Laravel framework. My first project is coming from
                Sharp ID. My task is to produce API resource to be consumed in
                Sharp ID mobile app. Beside that, me also building CMS admin web
                to facilitate Sharp admin managing resource for the app.
              </p>

              <br />

              <h5>TapTalk</h5>
              <h6>Full Stack Developer | Internship (Apr 2021 - Apr 2021)</h6>
              <p>
                My role is to develop some prodcut from TapTalk such as SendTalk
                and OneTalk. I use Next.js for frontend and Golang for backend.
                I have develop SendTalk hero section and SendTalk calculator.
                Also I have develop TapLive API in OneTalk project.
              </p>

              <br />

              <h5>Moselo (PT. Komunitas Karya Kencana)</h5>
              <h6>Full Stack Developer | Internship (Jan 2021 - Apr 2021)</h6>
              <p>
                My role is to develop admin page website to help moselo's
                rangers managing their business. It website developed using
                Laravel for backend and Angular.js for frontend. In this period
                of intership, I have developed admin log activities to tracking
                action history of Moselo’s rangers. Then, I also developed some
                other feature such as CRUD product, download list user from
                database in CSV format, etc.
              </p>

              <br />

              <h5>University of Indonesia</h5>
              <h6>
                Teaching Assistant for Programming Foundation 2 | Part Time (Aug
                2020 - Jul 2021)
              </h6>
              <p>
                My role is to help students to undestand the material from our
                lecturer. I have a task to create programming task and
                correcting the solution from the students. Also I have to give
                feedback about their code and answer their question about
                Programming Foundation II. In this class, we use Java to deliver
                our solution.
              </p>

              <br />

              <h5>University of Indonesia</h5>
              <h6>
                Teaching Assistant for Programming Foundation 1 | Part Time (Jan
                2020 - Jul 2020)
              </h6>
              <p>
                My role is to help the student of programming foundation 1 class
                to understand the material from our lecturer. The student can
                ask me to tutoring them if they're find material that hard to
                understand.
              </p>

              <br />

              <h5>Petku</h5>
              <h6>Web Developer | Internship (Dec 2019 - Mar 2020)</h6>
              <p>
                My role is to develop our website (petku.com) with tools named
                Shopify. Beside that, I used Ajax and Jquery to develop it
                website.
              </p>
            </div>
            <!--end .accordion-section-content-->
          </div>
          <!--end .accordion-section-->

          <!-- ORGANIZATION -->

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2"
              >Organization</a
            >

            <div id="accordion-2" class="accordion-section-content">
              <h5>Student Executive Board Faculty of Computer Science UI</h5>
              <h6>President (2021)</h6>
              <p>
                Some phenomena that I experienced while I am a Head Departement
                moved me to contribute more to public through BEM Fasilkom UI.
                Finally I decided to nominating myself for the presidential
                election of Faculty of Computer Science University of Indonesia.
                After long journey in the election process, I elected to be the
                President of BEM Fasilkom UI year of 2021. In this role, I have
                a charge to design a strategic planning that will be a basic
                foundation of BEM Fasilkom UI 2021.
              </p>

              <br />

              <h5>Student Executive Board Faculty of Computer Science UI</h5>
              <h6>Head of Research and Strategic Action Departement (2020)</h6>
              <p>
                Because of I learnt some valuable skills when I was a staff, I
                decided to go to the next level as a Head of Research and
                Strategic Action Departement. I have two vice head and five
                staff in this departement. While work on this role, I'm not only
                learn more about social politic field. I also learn how to
                manage a team who work together with me.
              </p>

              <br />

              <h5>Student Executive Board Faculty of Computer Science UI</h5>
              <h6>Staff of Research and Strategic Action Departement (2019)</h6>
              <p>
                As a staff of Research and Strategic Action, I have a charge to
                managing social politic interest community for Faculty of
                Computer Science UI students and alumni called Syntax Error.
                Also I have a charge to held a public discussion that discuss
                about actual issues regarding to social politic condition.
              </p>

              <br />

              <h5>Nuansa Islam Mahasiswa (Salam) UI 22</h5>
              <h6>Staff of National Relationship Bureau (2019)</h6>
              <p>
                Salam UI is an islamic organization in University of Indonesia.
                My agency has a function to maintain the relationship of Salam
                UI with stakeholders at the national level. I play a role in
                contacting stakeholders from my organization if needed.
              </p>
            </div>
            <!--end .accordion-section-content-->
          </div>
          <!--end .accordion-section-->

          <!-- VOLUNTEERING -->

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3"
              >Volunteering</a
            >

            <div id="accordion-3" class="accordion-section-content">
              <h5>Campus Goes to SMA Negeri 14 Jakarta (CGTS 14)</h5>
              <h6>Project Officer (2020)</h6>
              <p>
                CGTS is an annual event from alumni of 14 highschool that aim to
                introduce campus life to our junior in high school. My role is
                to lead the project event from planning until executing.
              </p>

              <br />

              <h5>Campus Goes to SMA Negeri 14 Jakarta (CGTS 14)</h5>
              <h6>Vice Project Officer (2019)</h6>
              <p>
                CGTS is an annual event from alumni of 14 highschool that aim to
                introduce campus life to our junior in high school. My role is
                to assist my Project Officer on supervising project event
                member.
              </p>

              <br />

              <h5>Open House Fasilkom UI</h5>
              <h6>PIC of Events (2019)</h6>
              <p>
                Open House Fasilkom UI is an event that aim to introduce
                Fasilkom UI to final student of high school and to engage the to
                choose Fasiilkom for their study. My role is in conceptualizing
                the event and execute the main event.
              </p>

              <br />

              <h5>Computer Festival (Compfest) XI</h5>
              <h6>Staff of Business IT Case Competition Division (2019)</h6>
              <p>
                Compfest is an annual event that aim to increase public
                awareness abaout technological developtment. Business IT Case
                competition is a competition that test our thinking skills in
                solving business problems using technological approach.
              </p>

              <br />

              <h5>Open House Fasilkom UI</h5>
              <h6>Staff of Public Relation and Documentation (2018)</h6>
              <p>
                Open House Fasilkom UI is an event that aim to introduce
                Fasilkom UI to final student of high school and to engage the to
                choose Fasiilkom for their study. My role is to promote this
                event to high school students.
              </p>
            </div>
            <!--end .accordion-section-content-->
          </div>
          <!--end .accordion-section-->

          <!-- PROJECTS -->

          <div class="accordion-section">
            <a href="#accordion-4" class="accordion-section-title">Projects</a>

            <div id="accordion-4" class="accordion-section-content">
              <h5>
                Altalent (<a
                  href="https://altalent.herokuapp.com/"
                  target="_blank"
                  >altalent.herokuapp.com</a
                >)
              </h5>
              <h6>Lead Programmer</h6>
              <p>
                Altalent is project from MSBU Altrovis that facilitate talent
                hunter to reccomend their relation and receiving honor for every
                talent they reccomend that got hired. I work with a small team
                consist of 5 member. This project is purposed to fulfil my
                course at 6th semester named Information System Development
                Project.
              </p>

              <br />

              <h5>
                UI IBF 6th (<a href="https://uiibf.com/" target="_blank"
                  >uiibf.com</a
                >)
              </h5>
              <h6>Front End Developer</h6>
              <p>
                UI IBF stands for University of Indonesia Islamic Book Fair. My
                role is to develop front end website of it event to made people
                easy to access information about UI IBF and easy to register to
                the event
              </p>

              <br />

              <h5>
                SIGAP (<a href="https://sigap.cs.ui.ac.id/" target="_blank"
                  >sigap.cs.ui.ac.id</a
                >)
              </h5>
              <h6>Web Developer</h6>
              <p>
                SIGAP is a platform developed by Faculty of Computer Science
                University of Indonesia to help facilitate hospital or clinic
                during pandemic COVID-19. The main purpose of this platform is
                to facilitate distribution of donations from prospective donors
                to health workers. I used Django framework to develop it
                website.
              </p>

              <br />

              <h5>
                CGTS 14 Website (<a
                  href="https://cgts14.herokuapp.com/"
                  target="_blank"
                  >cgts14.herokuapp.com</a
                >)
              </h5>
              <h6>Web Developer</h6>
              <p>
                CGTS 14 stands for Campus Goes to School of 14 High School. It
                is an event held by alumni of 14 High School to introduce Campus
                Life to our junior. This website is used to publish this event.
              </p>

              <br />

              <h5>
                Ceritanya Tuwiter (<a
                  href="https://ceritanyatuwiter.herokuapp.com/"
                  target="_blank"
                  >ceritanyatuwiter.herokuapp.com</a
                >)
              </h5>
              <h6>Web Developer</h6>
              <p>
                I build this website when I was a teaching assistant for
                programming fondation I. It purposed to visualize programming
                task for student. Student expected to automate send message to
                that website with their code using Python.
              </p>

              <br />

              <h5>
                SHN Website (<a href="https://shn.law.ui.ac.id/" target="_blank"
                  >shn.law.ui.ac.id</a
                >)
              </h5>
              <h6>Web Developer</h6>
              <p>
                SHN is a National Legal Symposium held by Student Executive
                Board Faculty of Law UI. My role is to develop website for this
                event publication. I used basic HTML, CSS, and JS to develop it
                website.
              </p>

              <br />

              <h5>
                Quanta 2018 Website (<a
                  href="https://quanta2018.github.io/"
                  target="_blank"
                  >quanta2018.github.io</a
                >)
              </h5>
              <h6>Web Developer</h6>
              <p>
                A website for year student Quanta (Computer Science University
                of Indonesia year of 2018). It is my first project for web
                development.
              </p>
            </div>
            <!--end .accordion-section-content-->
          </div>
          <!--end .accordion-section-->

          <!-- ACHIEVEMENT -->

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-5"
              >Achievement</a
            >

            <div id="accordion-5" class="accordion-section-content">
              <h5>QuarterFinalist National Logic Competition (NLC) 2017</h5>
              <h6>Sepuluh November Institute of technology (ITS)</h6>
              <p>
                NLC is an annual event competition from ITS that aim to
                highschool students to compete their logical thinking skills in
                various problems.
              </p>
            </div>
            <!--end .accordion-section-content-->
          </div>
          <!--end .accordion-section-->
        </div>
        <!--end .accordion-->
      </div>
    </div>

    <div id="tentang">
      <h1>About Me</h1>
      <div class="container2">
        <p>
          I'm just an ordinary man who just graduated from my study at Faculty
          of Computer Science, University of Indonesia. I love to code anywhere
          anytime and always eager to learn more about software engineering or
          any other topics related to IT. Sometimes I spend my spare time with
          reading a book or writing. I also interested to discuss about social
          and political issues, public policy, or someone thought. If you want
          more information about me or wanna get closer to me, just don't
          hesitate to visit some of my account below!
        </p>
      </div>

      <div class="medsos">
        <a href="https://www.instagram.com/muhammadazishusein" target="_blank"
          ><i class="fab fa-instagram instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/muhammad-azis-h/" target="_blank"
          ><i class="fab fa-linkedin linkedin"></i
        ></a>
        <a href="https://gitlab.com/muhammadazishusein" target="_blank"
          ><i class="fab fa-gitlab gitlab"></i
        ></a>
        <a href="https://github.com/azis14" target="_blank"
          ><i class="fab fa-github github"></i
        ></a>
        <a href="https://muhammadazishusein.medium.com" target="_blank"
          ><i class="fab fa-medium-m medium"></i
        ></a>
      </div>
    </div>

    <div id="riwayat">
      <h1>Education</h1>

      <div class="box-riwayat">
        <div class="logo-container">
          <img src="{% static 'images/fasilkom ui.png' %}" alt="Fasilkom UI" />
        </div>
        <div class="info-riwayat-container">
          <h3>Faculty of Computer Sciene University of Indonesia 2018-2022</h3>
          <p>
            I'm study on Faculty of Computer Science majoring in Information
            System. I choose my path on my recent study because I want to learn
            more about IT and I want to be a good developer. I also hope that
            someday I could build my own company using experiences that I had
            from my study.
          </p>
        </div>
      </div>

      <div class="box-riwayat">
        <div class="logo-container">
          <img src="{% static 'images/logosma14.png' %}" alt="SMA 14 Jakarta" />
        </div>
        <div class="info-riwayat-container">
          <h3>SMA Negeri 14 Jakarta 2015-2018</h3>
          <p>
            When I was in high school, I was quite active in a spiritual
            organization named 'Rohis 14'. From that organization I learn about
            teamwork and smartwork. Also I got more relation with my alumni from
            that organization.
          </p>
        </div>
      </div>

      <p>Copyright &copy; Muhammad Azis Husein</p>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>
