/* -------------------------- CSS RESET ----------------------------------- */
{% load static %}
* {
    box-sizing: border-box;
    font-family: 'Bree Serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* -------------------------- HOMEPAGE ----------------------------------- */

/* -------------------------- HEADER ----------------------------------- */
#header {
    /* background: #deecff; */
    background: linear-gradient(180deg, #0080ff, #fff);
    height: 100vh;
    color: #47525E;
}

.nav-container {
    margin: auto;
    display: flex;
    padding-top: 10vh;
    /* padding-left: 10px; */
    max-height: 25px;
    justify-content: center;
}

.linkbox {
    max-height: 25px;
    width: 200px;
    text-align: center;
}

.linkbox a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    /* color: #000; */
    color: #47525E;
    font-size: 20px;
    -webkit-transition-duration: 0.5s;
}

.nav-container a:hover {
    font-size: 25px;
    -webkit-transition-duration: 0.5s;
}

.img-container {
    max-width: 300px;
    margin: auto;
    padding-top: 20vh
}

#header img {
    width: 100%;
    border-radius: 50%;
}

#header h1 {
    margin-top: 7vh;
    text-align: center;
    color: #47525E;
    /* text-shadow: 2px 4px 5px #000; */
}

/* -------------------------- aktivitas ------------------------------------ */
#activity {
    padding-bottom: 20vh;
    background: #fff;
}

#activity h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.container {
    max-width: 800px;
    margin: 5vh auto;
}

/* -------------- ACCORDION --------------- */

.accordion,
.accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
    background:#f7f7f7;
    margin-top: 15vh;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    text-align: center;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
}

.accordion-section-title.active,
.accordion-section-title:hover {
	background:#4c4c4c;
    text-decoration:none;
    color: #fff;
    -webkit-transition-duration: 0.5s;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}

.accordion-section-content h6 {
    color: #47525E;
}

.accordion-section-content p {
    font-size: 12px;
}

/* ---------------------------------- Tentang --------------------------------------------- */
#tentang {
    background: url('/static/images/ui.jpg') no-repeat center center/cover
    fixed;
    padding: 20px;
}

#tentang h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.container2 {
    max-width: 1000px;
    margin: auto;
}

#tentang .container2 p {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    padding: 0 15px;
}

.medsos {
    margin: auto;
    margin-top: 15vh;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medsos a i {
    color: #000;
    font-size: 48px;
    -webkit-transition-duration: 0.5s;
}

.instagram:hover {
    color: #a34448;
    -webkit-transition-duration: 0.5s;
}

.linkedin:hover {
    color: #1732a8;
    -webkit-transition-duration: 0.5s;
}

.gitlab:hover {
    color: #e65328;
    -webkit-transition-duration: 0.5s;
}

.medium:hover {
    color: #3d3b3a;
    -webkit-transition-duration: 0.5s;
}

.github:hover {
    color: #4c4c4c;
    -webkit-transition-duration: 0.5s;
}

/* ---------------------------- Riwayat ----------------------------------- */
#riwayat {
    background: #2A6A8D;
}

#riwayat h1 {
    text-align: center;
    padding-top: 5vh;
    text-decoration: black underline;
}

.box-riwayat {
    margin: 5vh auto;
    background: #B9C4D2;
    max-width: 1100px;
    padding: 20px;
    flex-direction: row;
    display: flex;
}

.logo-container {
    max-width: 150px;
}

#riwayat .box-riwayat .logo-container img {
    width: 100%;
}

.info-riwayat-container {
    margin-left: 40px;
    max-width: 700px;
}

#riwayat .box-riwayat .info-riwayat-container h3 {
    text-align: center;
}

#riwayat .box-riwayat .info-riwayat-container p {
    margin-top: 15px;
}

#riwayat p {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0;
    padding-bottom: 20px;
}

#riwayat a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
}

#riwayat a:hover {
    color: #44f12b;
    font-size: 14px;
    text-decoration: none;
}

/* -------------------------- PAGE JADWAL ----------------------------------- */

/* -------------------------- LIST JADWAL ----------------------------------- */
#header-ppw {
    background-color: #2A6A8D;
    height: 100vh;
}

.container-ppw {
    max-width: 800px;
    margin: auto;
}

#header-ppw .container-ppw h1 {
    text-align: center;
    padding-top: 10vh;
}

.gambar {
    margin: 12vh auto;
    max-width: 50px;
}

#header .container-ppw .gambar img {
    width: 100%;
}

#header-ppw .progress {
    margin-top: 10vh;
}

/* -------------------------- FORM JADWAL ----------------------------------- */

#ppw2 {
    height: 100vh;
    background: #47525E;
}

#ppw2 h1 {
    text-align: center;
    color: #fff;
    padding-top: 4vh;
}

.form-container {
    background: #fff;
    border: #000 5px solid;
    border-radius: 1em;
    margin: 10vh auto;
    padding: 10px;
    max-width: 750px;
}

.form-container form label {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.form-container form input {
    margin: auto;
    display: block;
}

.form-container form select {
    margin: auto;
    display: block;
}

.form-container form button {
    margin: 20px auto;
    display: block;
    padding: 5px;
    background: none;
    border: #0080ff 1px solid;
    border-radius: 1em;
}

.form-container form button:hover {
    background: #0080ff;
}

#ppw2 a {
    display: block;
    /* padding-bottom: 5vh; */
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#ppw2 a:hover {
    font-size: 18px;
    text-decoration: none;
}

#list-jadwal {
    background: #2A6A8D;
    border-bottom: #000 solid 8px;
}

#list-jadwal h1 {
    text-align: center;
    padding-top: 10vh;
}

.container-table {
    max-width: 1100px;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.table {
    color: #fff;
}

/* -------------------------- DETAIL PAGE ----------------------------------- */

/* -------------------------- HEADER DETAIL ----------------------------------- */

#detail-head {
    background: #0080ff;
}

.container-mode {
    display: flex;
}

.box-mode {
    margin: auto;
    padding: 5px;
}

/* ------------------------Responsive------------------------------- */
@media (max-width: 1100px) {
    .box-riwayat {
        flex-direction: column;
        margin: 10px;
    }

    .logo-container {
        margin: auto;
    }

    .info-riwayat-container {
        margin: auto;
    }
}

@media (max-width: 426px) {
    #biodata {
        height: 125vh;
    }

    #biodata h1 {
        padding-top: 20vh;
    }

    .medsos {
        max-width: 300px;
        margin-top: 10vh;
    }

    .medsos a i {
        font-size: 40px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 250px;
    }

    .progress {
        margin: 10px;
    }

    .medsos a i {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .medsos {
        margin-top: 20vh;
    }
}

@media (max-width: 320px) {
    #header-ppw {
        height: 120vh;
    }
}

@media (max-height: 414px) {
    #header {
        height: 200vh;
    }

    #biodata {
        height: 200vh;
    }

    #header-ppw {
        height: 120vh;
    }
}